/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
    background-color: pink;
    margin: 0 auto;
    width: 1500px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.images{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

h1{
    margin-left: 10px;
    margin-bottom: 20px;
}
#restoreimage{
    width: 100px;
    background-color: green;
    margin-left: 100px;
    margin-top: 650px;
    position: absolute;
}
